
.formulario{
    width: 400px;
    min-width: 300px;
    text-align: center;
}

.formulario>h3{
    color: #fff;
}

.input{
    padding-top: 6px;
    padding-bottom: 6px;
}

.input>input{
    color: #fff;
}

.input>button{
    align-items: center;
}
